<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Tosharu Studios</title>
    <meta name="author" content="Codeconvey" />
    
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="style.css">
   
    <!--Only for demo purpose - no need to add.-->
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
	
</head>
<body>
<nav>
    <p>Tosharu Studios</p>
    <ul>
        <li><a href="index">Home</a></li>
        <li><a href="partners">Partners</a></li>
        <li><a href="toshlaptop">Toshlaptop</a></li>
        <li><a href="employees">Employees</a></li>  
        <li><a href="employeesonly">Employees Only</a></li>
        <li><a href="services">Services</a>
            <ul>
                <li><a href="#">Online Production</a></li>
                <li><a href="#">Plans and Projects</a></li>
            </ul>
        </li>
        <li><a href="https://tosharuhosting.tebex.io">Server</a></li>
        <li><a href="#">Public Upcoming Plans</a>
            <ul>
                <li><a href="#">TosharuOS</a></li>
                <li><a href="toshlaptop">Toshlaptop</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div class="ScriptTop">
    <div class="rt-container">
        <div class="col-rt-4" id="float-right">
            <!-- AD -->
        </div>
        <div class="col-rt-2">

        </div>
    </div>
</div>

<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading">
            	<h1>Comment Now</h1>
                <p></p>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- partial:index.partial.html -->
<section id="app">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script  src="js/script.js"></script>
           
    		</div>
		</div>
    </div>
</section>
     

<!-- Analytics -->

	</body>
</html>