* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(Images/Background.png);
	background-size: cover;
}

nav {
	width: 100%;
	height:  60px;
	background-color: blue;
}

nav p {
	font-family: Teko;
	color: white;
	font-size: 24px;
	line-height: 55px;
	float: left;
	padding:  0px 20px;
}

nav ul {
	float: left;
}

nav ul li {
	float: left;
	list-style: none;
	position: relative;
}

nav ul li a {
	display: block;
	font-family: cursive;
	color: white;
	font-size: 14px;
	padding:  22px 14px;
	text-decoration: none;
}

nav ul li ul {
	display: none;
	position: absolute;
	background-color: blue;
	padding: 10px;
	border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
	display: block;
}

nav ul li ul li {
	width: 180px;
	border-radius: 4px;
}

nav ul li ul li a {
	padding:  8px 14px;
}

nav ul li ul li a:hover {
	background-color: indigo;
}

nav ul li ul li ul li a {
	padding:  8px 14px;
}

nav ul li ul li ul li a:hover {
	background-color: navy;
}

#custom-button {
  padding: 10px;
  color: white;
  background-color: #009578;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

#custom-button:hover {
  background-color: #00b28f;
}

#custom-text {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}
